# Dependencias
node_modules/
jspm_packages/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Compilados y builds
dist/
build/
.cache/
.next/
out/
.tmp/
temp/
supabase/

# Cobertura de tests
coverage/
.nyc_output/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp

# Otros
*.tgz
*.zip
*.tar.gz

# TypeScript
*.tsbuildinfo

# Archivos subidos por usuarios (mantener estructura de carpetas)
uploads/*
!uploads/.gitkeep
!uploads/events/
uploads/events/*
!uploads/events/.gitkeep
